[Desktop Entry]
Name=Xylok View
Exec=xylok-view
Icon=io.github.joshuardecker.xylok-view
Type=Application
Terminal=false
Categories=Utility;Development;Security;
Keywords=STIG;Security;DISA;Compliance;Xylok;
