[Desktop Entry]
Name=Stig View
Exec=stig-view
Icon=io.github.joshuardecker.stig-view
Type=Application
Terminal=false
Categories=Utility;Development;Security;
Keywords=STIG;Security;DISA;Compliance;Xylok;
