<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Id='*'
    Name='Stig View'
    UpgradeCode='1D585B9B-17D8-45C0-9586-A14AFE62E32C'
    Manufacturer='Joshua Decker'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'>

    <Package Id='*'
      Description='DISA STIG viewer'
      Manufacturer='Joshua Decker'
      InstallerVersion='450'
      Languages='1033'
      Compressed='yes'
      SummaryCodepage='1252'
      InstallScope='perMachine'
      Platform='x64' />

    <Icon Id='AppIcon' SourceFile='$(sys.SOURCEFILEDIR)..\..\assets\logo\logo.ico' />

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='A newer version of Stig View is already installed.' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='APPLICATIONROOTDIRECTORY' Name='Stig View'>
          <Component Id='MainExecutable' Guid='*'>
            <File Id='StigViewEXE'
              Name='stig-view.exe'
              DiskId='1'
              Source='$(var.CargoTargetDir)\$(var.Profile)\stig-view.exe'
              KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id='ProgramMenuFolder'>
        <Component Id='StartMenuShortcut' Guid='*'>
          <Shortcut Id='StartMenuShortcutEntry'
            Name='Stig View'
            Description='DISA STIG viewer'
            Target='[APPLICATIONROOTDIRECTORY]stig-view.exe'
            WorkingDirectory='APPLICATIONROOTDIRECTORY'
            Icon='AppIcon' />
          <RemoveFolder Id='CleanUpStartMenuFolder' On='uninstall' />
          <RegistryValue Root='HKCU'
            Key='Software\Joshua Decker\Stig View'
            Name='installed'
            Type='integer'
            Value='1'
            KeyPath='yes' />
        </Component>
      </Directory>
      <Merge Id='VCRedist'
             SourceFile='$(env.VCToolsRedistMSM)'
             DiskId='1'
             Language='0' />
    </Directory>

    <Feature Id='MainFeature' Title='Application' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='StartMenuShortcut' />
    </Feature>

    <Feature Id='VCRedist' Title='Visual C++ Runtime' AllowAdvertise='no' Display='hidden' Level='1'>
      <MergeRef Id='VCRedist' />
    </Feature>

    <Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONROOTDIRECTORY' />
    <UIRef Id='WixUI_InstallDir' />
    <WixVariable Id='WixUILicenseRtf' Value='$(sys.SOURCEFILEDIR)License.rtf' />

  </Product>
</Wix>
